<div class="container-fluid tag">
		<div class="row">
				<div class="col-12" id="background">
						<h2 class="tag-title"><%- page.tag %></h2>
								<div class="row" class="col-12 scrollspy-example" data-spy="scroll" data-target="#navbar-main-side" data-offset="40">
											<div class="col-12 card-deck y-scroll">
													<% page.posts.each(function(item){ %>
																<%- partial('_partial/article-excerpt', {item: item}) %>
													<% }); %>
													<%- partial('_partial/pagination') %>
											</div>
								</div>
				</div>
		</div>
</div>
