.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/cinetime/source/img/next_*
themes/cinetime/source/img/card_*
themes/cinetime/source/img/poster_*
themes/cinetime/source/img/cover_*
themes/cinetime/source/js/webtorrent.min.js