.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/cinetime/source/favicon 
themes/cinetime/source/img/next*
themes/cinetime/source/img/card*
themes/cinetime/source/img/cover*
themes/cinetime/source/img/poster*
themes/cinetime/source/bower_components/
jumbotest.html
testwebt.html
themes/cinetime/source/js/webtorrent.min.js
webtorrent-complete.html
webtorrent-quick.html
webtorrent.html
