<!-- https://api.staticman.net/v2/entry/{GITHUB USERNAME}/{GITHUB REPOSITORY}/{BRANCH}/{PROPERTY (optional)} -->
<form method="POST" action="https://api.staticman.net/v2/entry/cinetimes/cinetimes-fr/source/posts">
    <!-- <input name="options[redirect]" type="hidden" value="https://cinetimes.org/"> -->
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <!-- <input name="options[slug]" type="hidden" value="{{ page.slug }}"> -->
    <label><input name="fields[title]" type="text">Titre</label>
    <label><input name="fields[author]" type="text">Auteur</label>
    <!-- <label><input name="fields[year]" type="text">Année</label>
    <label><input name="fields[img_name]" type="text">Image</label>
    <label><input name="fields[category]" type="text">Categorie</label>
    <label><input name="fields[tags]" type="text">Genre</label>
    <label><textarea name="fields[synopsis]"></textarea>Synopsis/Description</label>
     -->
    <button type="submit">Go!</button>
  </form>