@font-face {
    font-family: 'helsinkiregular';
    src: url('../fonts/helsinki/helsinki-webfont.eot');
    src: url('../fonts/helsinki/helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helsinki/helsinki-webfont.woff') format('woff'),
         url('../fonts/helsinki/helsinki-webfont.ttf') format('truetype'),
         url('../fonts/helsinki/helsinki-webfont.svg#helsinkiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira_sans/FiraSans-Regular.eot');
    src: url('../fonts/fira_sans/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/fira_sans/FiraSans-Regular.woff2') format('woff2'),
         url('../fonts/fira_sans/FiraSans-Regular.woff') format('woff'),
         url('../fonts/fira_sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/* Webfont: Lato-Regular */
@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


#bEnConstruction {
  background-color: #22C99A;
}

#bEnConstruction p {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: 'Fira Sans';
  color: #343635;
  border-bottom: 1px solid #343635;
  border-top: 1px solid #343635;
}

/*           Géneral            */

html, body {
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}

body {
  position: relative;
}

a {
  /*text-decoration: none;*/
}

a:visited {
  /*color: inherit;*/
}

/*          Navigation          */
.main-nav {
  display: flex;
  margin: 0 auto;
  padding: 0;
  background-color: #346BC2;
}

.main-nav li {
  margin: auto;
  padding: 14px 0 14px 0;
  display: inline;
  text-align: center;
  border-left: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  color: aliceblue;
}

.main-nav li:hover {
  background-color: #1551c4;
  padding: 14px 0 14px 0;
}

.main-nav li:First-of-type {
  padding: 8px 0 8px 0;
  font-size: 1.5em;
  flex: 2 2 0;
  border: none;
  /* Compatibilité safari ios
  -webkit-flex: 2;
  -webkit-box-flex: 2;
*/
}

.main-nav li:first-of-type:hover {
  background-color: #1551c4;
  padding: 8px 0 8px 0;
}

.main-nav li a {
  font-family: 'helsinkiregular';
  text-decoration: none;
  color: aliceblue;
}

.main-nav li:first-child a {
  font-family: 'Fira Sans';
  font-weight: bold;
}

.dropbtn {
  background-color: #1551c4;
  color: white;
  font-family: 'helsinkiregular';
  padding: 13.5px;
  margin: 0;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  flex: 1 1 0;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownContent a {
  color: black;
  font-family: 'helsinkiregular', 'lato', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.dropdownContent a span {
	/*position: relative;
	bottom: 10px;*/
}

.dropdownContent a:hover {
  background-color: #031a7b;
  color: aliceblue;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropbtn {
    background-color: #031a7b;
}

#mobileNav {
  display: none;
  background-color: #346BC2;
  color: aliceblue;
}

#mobileNav ul li:first-child {
  cursor: pointer;
}

/*Le menu de navigation sidenav*/
.sidenav {
  height: 100%; /*Occupe toute la hauteur*/
  width: 0; /*A changer avec javascript*/
  position: fixed; /*Reste à sa place*/
  z-index: 1; /*Reste tout en haut*/
  top: 0;
  left: 0;
  background-color: #0B1C21;/*Noir #111*/
  overflow-x: hidden; /*On désactive le défilement*/
  padding-top: 60px; /*On place le contenu à 60px du haut*/
  transition: 0.5s; /*Effet de transition slide de 0.5s dans la sidenav*/
}

/*Liens du menu de navigation sidenav*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'LatoWeb';
  color: #818181;
/*  color: #F6F6F6;*/
  display: block;
  transition: 0.3s;
}

/*Change la couleur des liens au survol de la souris*/
.sidenav a:hover, offcanvas, .sidenav a:focus {
  color: #f1f1f1
}

/*Position et style du bouton fermant (en haut a droite)*/
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

/*Pousse toute la page vers la droite a l'ouverture de la sidenav*/
#main {
  transition: margin-left .5s;
/*  padding: 20px;*/
  margin: 0;
}

/*Media queries pour petit écran*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#mobileNav {
  display: none;
}


/*          Header          */

header
{
    background-image: url('../img/Popeye_cover.jpg');
    background-color: #037FA8;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 10px;
}

#titre {
    font-family: 'LatoWeb';
    font-size: 2.5em;
    color: inherit;
  	color: azure;
    display: none;
}


/*          Section          */

#mainSection {
   border-bottom: 1px solid black;
   border-bottom: 1px solid black;
   background-color: #2361C2;

}

#mainSection p {
    font-family: 'helsinkiregular';
    text-align: center;
    color: azure;
    margin: 0;
    padding: 10px 0 10px 0;
}

#pPresentation {
  background-color: #0E1E2B;
  text-align: center;
  font-size: 1.375em;
}

#pPresentation p {
  font-family: 'Open Sans', sans-serif;
  color: #F6F6F6;
  margin: 0 10% 1.3em 10%;
}

#pPresentation p:first-child {
  margin-top: 0px;
  padding-top: 20px;
}

#pPresentation h1 {
  color: #E96232;
  padding-bottom: 1em;
  font-size: 1.875em;
  font-family: 'Roboto', sans-serif;
}

#pPresentation span {
  margin-bottom: 1em;
}

#pPresentation a:visited, #pPresentation a {
  color: #FFFFFF;
}

/*          Vedette          */

#background {
    padding: 20px;
}

#background h2 {
  color: #0E1E2B;
  font-size: 3em;
}

#vedette {
    background-size:cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1000px;
    min-height: 35em;
    }

.element {
    height: 350px;
    margin: 10px 20px 10px 20px;
    background-color:rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 0px 5px #171616;
    width: 283px;
}

.element:hover {
  box-shadow:0 0 15px #171616;
}

.description {
    text-align: center;
    position: relative;
    bottom: 10px;
    font-family: 'LatoWeb';
    font-size: 20px;
    color: #161717;
    height: 120px;
}

.description p {
    position: relative;
    bottom: 20px;
    color: #3D4247;
}

.description .langueFiche {
    text-align: left;
    left: 2px;
    top: 2px;
    font-size: 15px;
}

.description .anneeFiche {
    text-align: right;
    font-size: 15px;
    bottom: 30px;
    right: 2px;
}

.description .longueurFiche {
    font-size: 15px;
    bottom: 100px;
    right: 2px;
}

.element img {
    height: 186px;
    width: 283px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}

.film_rouge {
  border-bottom: 20px solid #F02C00;
}

.cartoon_bleu {
  border-bottom: 20px solid #3300FF;
}

.documentaire_jaune {
  border-bottom: 20px solid #edc700;
}


/*          Page Video          */


#video_et_description {
  text-align: center;
  margin: 1em 0;
  }

#video_et_description .videoDescription {
  background-color: rgb(255, 255, 255);
  margin: 0;
  text-align: center;
  padding: 0 0 0 4px;
  width: 100%;
}

.videoDescription ul, .videoDescription ol {
  text-align: left;
}

#video_et_description .video video {
  width: 100%;
  height: 100%;
}

#video_et_description .videoDescription h1 {
	color: #333;
  font-weight: bolder;
  font-size: 1.7em;
}

.video-js {
  width: 100%;
  height: 300px;
  max-width: 640px;
  margin: auto;
}

#rs {
  display: flex;
  justify-content: center;
}

.button {
  color: #FFFFFF;
  border: none;
  height: 3em;
  width: 10em;
  font-size: 1em;
}

.button:hover {
  padding-top: 2px;
  opacity: 0.9;
}

.share_facebook {
  background-color: #3B5998;
}

.share_twitter {
  background-color: #1DA1F2;
}

/*          Footer          */

#footerBottom {
    color: #FFFFFF;
    background-color: #264A8F;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
}

#footerBottom p {
  text-align: center;
  flex: 1 1 22px;
  margin: auto;

}

 #footerBottom a {
	color: aliceblue;
}


.contactbtn {
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*  padding: 16px;*/
/*  font-size: 16px;*/
/*  border: none;*/
  cursor: pointer;
}

#footerBottom p:nth-of-type(2) {
  order: -1;
}

#footerBottom p:first-of-type {
  flex: 2 2 auto;
}

#footer_nav {
  background-color: #264A8F;
  display: flex;
  flex-wrap: wrap;
}

.fContainer {
  flex: 1;
  margin: 40px;
}

.fContainer h4 {
  color: white;
  font-family: 'helsinkiregular';
}

.fContainer li, .fContainer li a, .fContainer li:first-child a {
  color: #878F90;
  font-family: 'lato', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.fContainer ul {
  list-style-type: none;
}

/* .fContainer li:before {
  content: "+ ";
} */

/*          MediaQueries          */

@media all and (max-width: 930px), all and (max-device-width: 480px)
{
    header {
      max-height: 250px;
      border-top: none;
      display: none;
    }

    .no-padding-mobile{
      padding: 0px !important;
    }

    #mainSection {
      display: none;
    }

    #mainNav {
      display: none;
    }

    #mobileNav {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
/*      justify-content: center;*/
      font-size: 1.5em;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

    }

    #mobileNav ul {
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px 0 10px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      width: 100%;
    }

    #mobileNav li {
      display: inline;
      text-align: center;
      -webkit-flex: 1;
      flex: 1;
    }

    #mobileNav ul li:nth-child(2) {
      -webkit-flex: 4;
      flex: 4;
      margin: 0 1em 0 1em;
    }


    .video-js {
      width: 100%;
      min-height:300px;
      max-width: 1000px;
      margin: auto;
    }

    #video_et_description .videoDescription {
      text-align: center;
      padding: 0 0 0 4px;
      width: 100%;
      max-width: 1000px;

    }

    .footerMain {
      display: flex;
      flex-direction: column;
    }

  #video_et_description {
    margin: 0;
    padding: 0;
  }

}

@media all and (max-device-width: 480px) {

  /*#background .btn-outline-danger {
    margin-bottom: 2em;
  }*/

  .video-js {
    min-height: 10px;
  }


  /*.sidenav {padding-top: 7em;}
  .sidenav a {font-size: 4em;}*/

  /*.closebtn {font-size: 4em !important;}*/

  /*#mobileNav {
    top: 0px;
    width: 100%;
    font-size: 6.5em;
    line-height: 1em;
}*/

  /*#bEnConstruction {
    margin-top: 4em;
    font-size: 2em;
    display: none;
  }

  #mainSection p {
    font-size: 1.5em;
  }

  #pPresentation {
    font-size: 3.1em;
  }*/


  /*.video-js, #my-video {
    min-height:700px;
    font-size: 2em;
  }

  .vjs-default-skin .vjs-big-play-button {
    font-size: 4em;
  }*/


  /*#video_et_description .videoDescription {
    margin-bottom: 0px;
  }

  #video_et_description .videoDescription h5 {
  margin-top: 1em;
  font-size: 7em;
  }*/
/*
  #video_et_description .videoDescription p {
  font-size: 5em;
  }*/

  /*.button {
    height: 3em;
    width: 10em;
    font-size: 4em;
  }*/

  /*footer {
    font-size: 4em;
  }*/

  .element {
    height: 700px;
    width: 566px;
  }

  .element img {
    height: 372px;
    width: 566px;
}
  .description {
    font-size: 40px;
    height: 240px;
  }

.description .langueFiche {
    left: 4px;
    top: 4px;
    font-size: 30px;
}

.description .anneeFiche {
    font-size: 30px;
    bottom: 60px;
    right: 4px;
}

.description .longueurFiche {
    font-size: 30px;
    bottom: 200px;
    right: 4px;
}

  .description p {
    bottom: 40px;
  }
}


@media all and (min-width: 1045px) {
    .video-js {
        height: 450px;
		max-width: 1000px;
    }

	#video_et_description .videoDescription  {
	   max-width: 1000px;
	}
}



/*          Page Contact          */
#formulaire {
    font-family: 'robotoregular';
    max-width: 700px;
    margin: auto;
    padding-bottom: 50px;

}
label {
    display: block;
}

#formulaire input {
  margin-bottom: 10px;
}

/*  Page copyright  */

.pagetxt {
	margin: auto;
	max-width: 800px;
	border-left: 0.5px solid black;
	border-right: 0.5px solid black;
	padding: 1px 10px 20px 10px;
	background-color: #FFFFFF;

}

.pagetxt h2 {
  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
  color: #0E1E2B;
  font-size: 3em;
}

.pagetxt a {
	color: orangered;
}

/* Tags & Catégories */

.blog-tags-container, .blog-categories-container {
    margin-top: 30px;
    font-size: 20px;
}
.blog-tags-container span.glyphicon, .blog-categories-container span.glyphicon {
    margin-right: 20px;
}

/*Bootstrap extracts*/


.label {
  border: 1px solid #000;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}

.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.card {
  min-width: 17rem;
  max-width: 19rem;
  margin-bottom: 2rem !important;
  margin: 0 0 2rem 15px;
}

.card-img-top {
  height: 181px;
  /*width: 302px;*/
}

.card-deck {
  justify-content: flex-start;
}

.sticky-top {
  top: 2rem;
}

.list-group-item.active {
  background-color: #346BC2;
  border-color: #346BC2;
}

.underline-not{
  text-decoration: none;
  color: inherit;
}
.underline-not:hover{
  text-decoration: none;
  color: inherit;
}

.helsinki {
  font-family: helsinkiregular;
}

.cwhite {
  color: #FFFFFF
}

.bgblue {
  background-color: #2557B7;
}

.slick-slide img {
  max-height: 16rem;
  margin-right: 1.2rem;
}

.btn-outline-light:hover {
  color: #2557B7;
}

.fa-heart, .fa-youtube{
  color: red;
}

.fa-university { color: grey;}



/* Making webtorrent (& archive.org iframe) Video keep a 16:9 ratio */
#video_webtorrent, #nav-archive {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  /* padding-top: 30px; */
  height: 0;
  overflow: hidden;
}

#video_webtorrent iframe,
#video_webtorrent object,
#video_webtorrent embed,
#video_webtorrent video,
#nav-archive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.next-link {
  max-width: 190px;
}

.twitter-typeahead {
  width: 100%;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index: 1021 !important;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

/*
  .tt-suggestion:hover {

    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
*/

.slick-prev::before, .slick-next::before {
  color: #346BC2 !important;
  opacity: 1 !important;
}

.movie-carousel {
  padding: 0px !important;
}

.card-deck {
    margin-right: 0px;
    margin-left: 0px;
}

.tag-title {
  font-weight: bold;
  margin: 0 auto 1em auto;
  text-align: center;
}

/* BLOG POST */

.bg-color-white {
  background-color: #FFFFFF;
}

.fa-pencil {
  color: grey;
  font-size: 0.7em !important;
}

.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6
.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6{
  font-weight: bold;
}

@media (max-width: 768px) { 
  .blog-post h1 {
    font-size: 1.8em;
  }
  .card-img-top {
    height: 90.5px;
    width: 151px;
  }
  .card {
    min-width: 151px;
    max-width: 151px;
  }

  .category .card-body {
    padding: 0.8rem;
  }

  .category .card-title {
    font-size: 16px;
    height: 40px;
    overflow: hidden;
  }
  .category .card-subtitle {
    font-size: 10.5px;
    height: 15px;
    overflow: hidden;
  }

  .category-headline {
    flex-direction: row !important;
  }

  .category .card {
    margin-right: 0px !important;
  }

  .category-headline h1 {
    font-size: 32px !important;
  }

  .category-headline .btn {
    font-size: 12px !important;
    margin-bottom: 0px;
  }

  .home .card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
  }

  .y-scroll { 
    margin-right: 0px;
    margin-left: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
  }

  .home .card {
    margin: 5px;
  }

  .home .card-deck .card-title {
    font-size: 16px;
    height: 40px;
    overflow: hidden;
  }
  .home .card-deck .card-subtitle {
    font-size: 10.5px;
    overflow: hidden;
  }

  .tag .card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
  }

  .tag .card {
    margin: 5px;
  }

  .tag .card-deck .card-title {
    font-size: 16px;
    height: 40px;
    overflow: hidden;
  }
  .tag .card-deck .card-subtitle {
    font-size: 10.5px;
    overflow: hidden;
  }


}

@media (min-width: 768px) { 
  #video-title {
    font-size: 2em !important;
  }
 }



.blog-post .subtitle {
  font-size: 0.5em;
}

.card-blog {
  min-width: none;
  max-width: none;
  margin: auto;
}

.card-img-blog {
  height: 250px;
}

.blog-title {
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  /* background-color: #2557B7; */
  padding: 20px;
  margin: 0.5em auto;
  /* color: #fff; */
  font-family: 'helsinkiregular',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.swal-button {
  background-color: #4962B3;

}

.awesomplete {
  display: block !important;
}

.awesomplete mark {
  background: #2557B7 !important;
  color: #FFFFFF;
  font-weight: bolder;
}
.awesomplete li:hover mark {
  background: #2557B7 !important;
}

.awesomplete > ul {
  z-index: 3 !important;
}

.poster-wrapper {
  margin: 0 10px 0 0;
  width: 170px;
  /* display: none !important; */
}

.poster-wrapper > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.poster-image {
  height: 225px !important;
  width: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
}

.poster-image:hover {
  filter: brightness(120%);
}

.poster-title {
  margin: auto;
  text-align: center;
}

/* Fiche Technique */
.read-more-target {
  display: none;
}

#read-more:checked + label + .read-more-target {
  display: flex;
}

#read-more ~ .read-more-trigger::before {
  content: 'Ouvrir fiche technique \2193';
}

#read-more:checked ~ .read-more-trigger::before {
  content: 'Fermer fiche technique \2191';
}

.archive-title {
  font-weight: bold;
}
@media (max-width: 768px) { 
  .archive-title {
    font-size: 2em !important;
    margin: 1em 5px;
  }
 }

/* Ridiculously Responsive Social Sharing Buttons CSS
 *
 * https://github.com/kni-labs/rrssb
 *
 */

.rrssb-buttons{box-sizing:border-box;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;height:36px;margin:0;padding:0;width:100%}.rrssb-buttons:after{clear:both}.rrssb-buttons:after,.rrssb-buttons:before{content:' ';display:table}.rrssb-buttons li{box-sizing:border-box;float:left;height:100%;line-height:13px;list-style:none;margin:0;padding:0 2px}.rrssb-buttons li.rrssb-email a{background-color:#0a88ff}.rrssb-buttons li.rrssb-email a:hover{background-color:#006ed6}.rrssb-buttons li.rrssb-facebook a{background-color:#306199}.rrssb-buttons li.rrssb-facebook a:hover{background-color:#244872}.rrssb-buttons li.rrssb-tumblr a{background-color:#32506d}.rrssb-buttons li.rrssb-tumblr a:hover{background-color:#22364a}.rrssb-buttons li.rrssb-linkedin a{background-color:#007bb6}.rrssb-buttons li.rrssb-linkedin a:hover{background-color:#005983}.rrssb-buttons li.rrssb-twitter a{background-color:#26c4f1}.rrssb-buttons li.rrssb-twitter a:hover{background-color:#0eaad6}.rrssb-buttons li.rrssb-googleplus a{background-color:#e93f2e}.rrssb-buttons li.rrssb-googleplus a:hover{background-color:#ce2616}.rrssb-buttons li.rrssb-youtube a{background-color:#df1c31}.rrssb-buttons li.rrssb-youtube a:hover{background-color:#b21627}.rrssb-buttons li.rrssb-reddit a{background-color:#8bbbe3}.rrssb-buttons li.rrssb-reddit a:hover{background-color:#62a3d9}.rrssb-buttons li.rrssb-pinterest a{background-color:#b81621}.rrssb-buttons li.rrssb-pinterest a:hover{background-color:#8a1119}.rrssb-buttons li.rrssb-pocket a{background-color:#ed4054}.rrssb-buttons li.rrssb-pocket a:hover{background-color:#e4162d}.rrssb-buttons li.rrssb-github a{background-color:#444}.rrssb-buttons li.rrssb-github a:hover{background-color:#2b2b2b}.rrssb-buttons li.rrssb-instagram a{background-color:#125688}.rrssb-buttons li.rrssb-instagram a:hover{background-color:#0c3a5b}.rrssb-buttons li.rrssb-delicious a{background-color:#0b79e5}.rrssb-buttons li.rrssb-delicious a:hover{background-color:#095fb4}.rrssb-buttons li.rrssb-vk a{background-color:#4d71a9}.rrssb-buttons li.rrssb-vk a:hover{background-color:#3d5a86}.rrssb-buttons li.rrssb-hackernews a{background-color:#f60}.rrssb-buttons li.rrssb-hackernews a:hover{background-color:#cc5200}.rrssb-buttons li.rrssb-whatsapp a{background-color:#43d854}.rrssb-buttons li.rrssb-whatsapp a:hover{background-color:#28c039}.rrssb-buttons li.rrssb-print a{background-color:#8d98a2}.rrssb-buttons li.rrssb-print a:hover{background-color:#717f8b}.rrssb-buttons li.rrssb-xing a{background-color:#005A5F}.rrssb-buttons li.rrssb-xing a:hover{background-color:#002a2c}.rrssb-buttons li a{background-color:#ccc;border-radius:2px;box-sizing:border-box;display:block;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-weight:700;height:100%;padding:11px 7px 12px 27px;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;-webkit-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out;width:100%}.rrssb-buttons li a .rrssb-icon{display:block;left:10px;padding-top:9px;position:absolute;top:0;width:10%}.rrssb-buttons li a .rrssb-icon svg{height:17px;width:17px}.rrssb-buttons li a .rrssb-icon svg circle,.rrssb-buttons li a .rrssb-icon svg path{fill:#fff}.rrssb-buttons li a .rrssb-text{color:#fff}.rrssb-buttons li a:active{box-shadow:inset 1px 3px 15px 0 rgba(22,0,0,.25)}.rrssb-buttons li.small a{padding:0}.rrssb-buttons li.small a .rrssb-icon{left:auto;margin:0 auto;overflow:hidden;position:relative;top:auto;width:100%}.rrssb-buttons li.small a .rrssb-text{visibility:hidden}.rrssb-buttons.large-format,.rrssb-buttons.large-format li{height:auto}.rrssb-buttons.large-format li a{-webkit-backface-visibility:hidden;backface-visibility:hidden;border-radius:.2em;padding:8.5% 0 8.5% 12%}.rrssb-buttons.large-format li a .rrssb-icon{height:100%;left:7%;padding-top:0;width:12%}.rrssb-buttons.large-format li a .rrssb-icon svg{height:100%;position:absolute;top:0;width:100%}.rrssb-buttons.large-format li a .rrssb-text{-webkit-backface-visibility:hidden;backface-visibility:hidden}.rrssb-buttons.small-format{padding-top:5px}.rrssb-buttons.small-format li{height:80%;padding:0 1px}.rrssb-buttons.small-format li a .rrssb-icon{height:100%;padding-top:0}.rrssb-buttons.small-format li a .rrssb-icon svg{height:48%;position:relative;top:6px;width:80%}.rrssb-buttons.tiny-format{height:22px;position:relative}.rrssb-buttons.tiny-format li{padding-right:7px}.rrssb-buttons.tiny-format li a{background-color:transparent;padding:0}.rrssb-buttons.tiny-format li a .rrssb-icon{height:100%}.rrssb-buttons.tiny-format li a .rrssb-icon svg{height:70%;width:100%}.rrssb-buttons.tiny-format li a:active,.rrssb-buttons.tiny-format li a:hover{background-color:transparent}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg path{fill:#0a88ff}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg path{fill:#0054a3}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg path{fill:#306199}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg path{fill:#18304b}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg path{fill:#32506d}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg path{fill:#121d27}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg path{fill:#007bb6}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg path{fill:#003650}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg path{fill:#26c4f1}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg path{fill:#0b84a6}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg path{fill:#e93f2e}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg path{fill:#a01e11}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg path{fill:#df1c31}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg path{fill:#84111d}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg path{fill:#8bbbe3}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg path{fill:#398bcf}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg path{fill:#b81621}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg path{fill:#5d0b11}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg path{fill:#ed4054}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg path{fill:#b61124}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg path{fill:#444}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg path{fill:#111}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg path{fill:#125688}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg path{fill:#061d2e}.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg path{fill:#0b79e5}.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg path{fill:#064684}.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon svg path{fill:#4d71a9}.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg path{fill:#2d4263}.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg path{fill:#f60}.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg path{fill:#993d00}.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon svg path{fill:#43d854}.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon:hover .rrssb-icon svg path{fill:#1f962d}.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon svg path{fill:#8d98a2}.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon:hover .rrssb-icon svg path{fill:#5a656f}.rrssb-buttons.tiny-format li.rrssb-xing a .rrssb-icon svg path{fill:#005A5F}.rrssb-buttons.tiny-format li.rrssb-xing a .rrssb-icon:hover .rrssb-icon svg path{fill:#000}
