
<%
  var categories = [];
  item.categories.forEach(function(category){
      categories.push(category.name);
  });
%>




<% if (categories[0] == category) { %>
  <div class="card">
    <img class="card-img-top" src="<%- url_for('img/')%><%- item.img_url %>.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><%- item.title %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%- _.startCase(item.author) %></h6>
    </div>
  </div>
<% } %>
