
<% if (page.comments !== false) {  %>
	<h3 class="text-center my-2 font-weight-bold mb-5">Laisser un commentaire</h3>

	<form method="POST" action="https://api.staticman.net/v2/entry/cinetimes/cinetimes-fr/source/comments">
		<div class="col-12 col-md-8 m-auto">
			<input name="options[redirect]" type="hidden" value="<%= config.url +"/"+ page.path %>">
			<!-- e.g. "2016-01-02-this-is-a-post" -->
			<input name="options[slug]" type="hidden" value="<%- page.path %>">
			
			<div class="form-row">
				<div class="col">
					<label for="name"> Nom </label>
					<input name="fields[name]" type="text" id="name" class="form-control">
				</div>
				<div class="col">
					<label for="email">Email </label>
					<input name="fields[email]" id="email" type="email" class="form-control">
					<small id="" class="form-text text-muted">Ne seras jamais partagée</small>
				</div>
			</div>
	
			<div class="form-group">
				<label for="message">Commentaire</label>
				<textarea class="form-control" id="message" rows="4"name="fields[message]"></textarea>
			</div>
	
			<button type="submit" class="btn btn-success">Commenter</button>
		</div>

	</form>

<% } else if((config.disqus_shortname) && !(page.comments === false)){ %>
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
	this.page.url =  '<%= config.url +"/"+ page.path %>'
	this.page.identifier = '<%= page.path %>'
	};

	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://cintetimes.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } %>
	
		