<% if((config.disqus_shortname) && !(page.comments == false)){ %>
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
	this.page.url =  '<%= config.url +"/"+ page.path %>'
	this.page.identifier = '<%= page.path %>'
	};

	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://cintetimes.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } else if (!page.comments === false) { %>
	<form method="POST" action="https://api.staticman.net/v2/entry/cinetimes/cinetimes-fr/source/comments">
		<input name="options[redirect]" type="hidden" value="<%= config.url +"/"+ page.path %>">
		<!-- e.g. "2016-01-02-this-is-a-post" -->
		<input name="options[slug]" type="hidden" value="<%- page.path %>">
		<label><input name="fields[name]" type="text">Name</label>
		<label><input name="fields[email]" type="email">E-mail</label>
		<label><textarea name="fields[message]"></textarea>Message</label>
		
		<button type="submit">Go!</button>
	</form>
<% } %>

