        <footer>
          <div id="footer_nav">
            <div class="fContainer">
                <h4>Catégories</h4>

                  <%- list_categories({show_count: false,depth: 0}) %>

            </div>
            <!-- <div class="fContainer">
                <h4>Réalisateus</h4>
                <ul>

                </ul>
            </div>
            <div class="fContainer">
                <h4>Populaires</h4>
                <ul>

                </ul>
            </div> -->
          </div>

          <div id="footerBottom">
            <p>&copy; CineTime</p>
            <p></p>
            <p>
              <a href="/contact.html">
<!--
              <button class="contactbtn">Contactez Nous <span class="fa fa-envelope-o" aria-hidden="true"></span>
              </button>
-->
              </a>
            </p>
          </div>
        </footer>
