        <footer>
          <div id="footer_nav">
            <div class="fContainer">
                <h4>Catégories</h4>
                <ul>
                  <% var categoryArray = []; %>
                    <% site.categories.each(function(category){
                    categoryArray.push('<li><a href="' + url_for(category.path) + '">' +category.name + "</a></li>");
                    }); %>
                  <%- categoryArray %>
                </ul>
            </div>
          </div>

          <div id="footerBottom">
            <p>&copy; CineTimes</p>
            <p></p>
            <p>

              <a href="/contact.html">
<!--
              <button class="contactbtn">Contactez Nous <span class="fa fa-envelope-o" aria-hidden="true"></span>
              </button>
-->
              </a>
            </p>
          </div>
        </footer>
