<% if (!(page.layout == 'post')) { %>
	<header>
		<div id="titre"></div>
	</header>
<% } %>

<% if (false) { %>
	<script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="/bower_components/paper-carousel/paper-carousel.html">
	<div class="container">
			<paper-carousel items="3" responsive="900:3, 600:2, 360:1" controls="true" dots="true" dotText="false">
					<img class="mr-3" src="/img/39marches.png" draggable="false"/>
					<img class="mr-3" src="/img/unefemmedisparait.png" draggable="false"/>
					<img class="mr-3" src="/img/metropolis-maxi.png" draggable="false"/>
					<img class="mr-3" src="/img/daughter_dr_jekyll.png" draggable="false"/>
					<img class="mr-3" src="/img/thekid.png" draggable="false"/>
		  </paper-carousel>
</div>
<% } %>
