 <% if (page.layout == 'post') { %>

<% } else { %>
		<section id="mainSection">
            <p>
        	    Bienvuene sur CineTime.tv <br />
        	    Le premier site de streaming de contenu libre de droit
            </p>
        </section>
<% } %>
