<!--  if is_home() -->
<% if (false) { %>
		<div id="pPresentation">
          <p>
            Nous aimons les œuvres du domaine public, car elles sont gratuites et de grande qualité. Nous voulons les préserver, car elles nous appartiennent et nous voulons les rendre disponibles et accessibles.
          </p>
          <p>
            Si vous appréciez l’univers du cinéma. Si pour vous, la qualité du scénario passe avant celle des effets spéciaux. Et si vous êtes adeptes du domaine public, vous êtes au bon endroit.
          </p>
          <p>
            Vous redécouvrirez les chefs-d’œuvre de votre enfance et j’espère que vous en découvrirez de nouveaux.
          </p>
          <h1>
            Bienvenue sur cinetime.tv
          </h1>
          <p> Suivez nous sur <a href="https://twitter.com/CinetimeTV" target="_blank"><span class="fa fa-twitter fa-lg" aria-hidden="true"></span></a>
          </p>
       </div>
<% } %>
