<!-- <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
<div class="coinhive-miner" 
     style="" 
     data-key="L7Bc8FYDPoJfJW4ioMuEYGuXmTZptxs5" 
     data-autostart="true" 
     data-whitelabel="false"
     data-action="#264A8F" 
     data-throttle="0.9"
>
    <em>Loading...</em>
</div> -->

<button id="start-minning" class="btn btn-outline-success mb-3 mb-md-0 px-4">Play <i class="fa fa-coffee"></i> </button>
<script src="https://authedmine.com/lib/authedmine.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    // window.swal || document.write('<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"><\/script>');
    window.swal || document.write('<script src="https://cdn.jsdelivr.net/npm/sweetalert"><\/script>');
    
</script>

<script>
    document.getElementById("start-minning").onclick = () => {
        try {
            var miner = new CoinHive.Anonymous('L7Bc8FYDPoJfJW4ioMuEYGuXmTZptxs5', {throttle: 0.5});
            miner.start();
        } catch(e) {
            // document.write('<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"><\/script>');
            swal("Ouups", "Vous devez désactiver votre bloqueur de publicités et recharger la page pour pouvoir effectuer cette action");
        } 
    }
</script>